html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
  width: 100%;
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}

p {
  font-family: Rubik, sans-serif;
}

/*-----------------------------------Header-----------------------------------*/
header {
  position: fixed;
  width: 100%;
  height: 4rem;
  background-color: white;
  z-index: 30;
}

header a {
  text-decoration: none;
}

.colmar-academy .first {
  color: black;
  font-weight: bold;
}

.colmar-academy .last {
  color: grey;
}

header .content {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.colmar-academy {
  display: flex;
  font-size: 1.5rem;
  align-items: center;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav li:last-child {
  padding-right: 1.5rem;
}

nav a {
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .icon {
  height: 3rem;
  padding-left: 1.5rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 740px) {
  header .desktop {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
  }
}

/*--------------------------------Banner--------------------------------------*/
#banner {
  background-color: #DFDDDD;
  display: flex;
  align-items: center;
}

#banner .image-container{
  padding: 2rem 1.5rem;
  width: 60%;
}

#banner .details {
  width: 25%;
}

#banner h1 {
  color: #444444;
  font-size: 2rem;
  font-weight: bold;
}

#banner p {
  color: #444444;
  padding: 1.5rem 0;
  font-size: 1.25rem;
}

#banner .button {
  width: 100%;
  height: 2rem;
  border-radius: 0;
  border: none;
  background-color: #444444;
  color: #DFDDDD;
  font-size: 1rem;
  transition: .2s;
}

#banner .button:hover {
  border-radius: .3rem;
}

#banner .button:active {
  background-color: #DFDDDD;
  color: #444444;
  border: 1px solid black;
}

@media only screen and (max-width: 740px) {
  #banner {
    flex-direction: column;
  }

  #banner .image-container {
    width: 100%;
    padding: 0;
  }

  #banner .details {
    width: auto;
    margin: 2rem 1.5rem;
  }
}

/*-----------------------------------Intro----------------------------------- */
#intro {
  background-color: #FFFFFF;
  display: flex;
}

#intro .first {
  width: 60%;
  flex-shrink: 0;
  padding: 2rem 1.5rem;
}

#intro .second {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-bottom: 2rem;
}

#intro .second .image-container {
  width: 35%;
  flex-shrink: 0;
}

#intro .second .detail {
  display: flex;
  border-left: 1px solid #DFDDDD;
}

#intro .second .detail:first-child {
  border-bottom: 3px double #DFDDDD;
}

#intro .second .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#intro .second .image-container,
#intro .second .detail {
  padding: 1rem;
}

#intro .second .highlight {
  background-color: #DFDDDD;
}

#intro h1,
#intro h2,
#intro p,
#intro span {
  color: #444444;
}

#intro h1 {
  margin: 2rem 0 1.5rem 0;
  font-size: 2rem;
  font-weight: bold;
}

#intro h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

#intro p {
  line-height: 1.2rem;
  padding-top: 1rem;
}

#intro span {
  display: inline-block;
  font-size: .8rem;
  margin-top: 1rem;
}

#intro a span {
  color: #4BA1FF;
}

#intro a {
  text-decoration: none;
}

#intro .mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  #intro .first {
    width: 50%;
  }

  #intro .second {
    width: 50%;
  }

}

@media only screen and (max-width: 740px) {
  #intro .mobile {
    display: block;
  }

  #intro .desktop {
    display: none;
  }

  #intro .second {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #intro .second .image-container {
    width: 100%;
    padding: 0;
  }

  #intro .second .detail {
    flex-direction: column;
    border-left: none;
  }

  #intro .second .highlight {
    background-color: white;
  }

  #intro .second .text {
    margin: 2rem 0 0 1rem;
  }

  #intro .second .detail:nth-child(1),
  #intro .second .detail:nth-child(2) {
    border-bottom: 1px double #DFDDDD;
  }
}

/*----------------------------------Programs--------------------------------- */
#programs {
  background-color: #DFDDDD;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#programs h1 {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: bold;
  color: #444444;
  justify-content: center;
}

#programs .program-list {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 5rem;
  justify-content: space-between;
}

#programs .program {
  background-color: white;
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: calc((100% - 4rem)*(1/3));
}

#programs .program:nth-child(3n) {
  margin-right: 0;
}

#programs h2 {
  margin: 1rem;
  color: #444444;
  font-size: 1.5rem;
  font-weight: bold;
}

#programs p {
  margin: .5rem 0 .5rem 1rem;
  color: #444444;
  line-height: 1.2rem;
}

#programs p:last-child {
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 740px) {
  #programs {
    background-color: white;
    border-top: 1px solid #DFDDDD;
    border-bottom: 1px solid #DFDDDD;
  }

  #programs .program .desktop {
    display: none;
  }

  #programs .program-list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #programs .program {
    margin-right: 0;
    margin-bottom: .5rem;
    width: calc(100% - 2rem);
    background-color: #DFDDDD;
  }

  #programs h2 {
    margin: 1rem 0 1.5rem 1rem;
    font-size: 1.5rem;
  }

  #programs .program:last-child {
    margin-bottom: 2rem;
  }
}

/*----------------------------------Exhibits--------------------------------- */
#exhibits {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

#exhibits .content {
  display: flex;
}

#exhibits .first {
  width: 60%;
  flex-shrink: 0;
  padding: 0 1.5rem 1.5rem 1.5rem;
}

#exhibits .first video {
  width: 100%;
  height: auto;
}

#exhibits .second {
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-bottom: 2rem;
}

#exhibits .second .image-container {
  width: 35%;
  flex-shrink: 0;
}

#exhibits .second .detail {
  display: flex;
  border-left: 1px solid #DFDDDD;
}

#exhibits .second .detail:first-child {
  border-bottom: 3px double #DFDDDD;
}

#exhibits .second .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#exhibits .second .image-container,
#exhibits .second .detail {
  padding: 1rem;
}

#exhibits .second .highlight {
  background-color: #DFDDDD;
}

#exhibits h1,
#exhibits h2,
#exhibits p {
  color: #444444;
}

#exhibits h1 {
  margin: 2rem 0 2rem 0;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

#exhibits .first h1 {
  text-align: left;
  margin: 1.5rem 0 .5rem 0;
}

#exhibits h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

#exhibits p {
  line-height: 1.2rem;
  padding-top: 1rem;
}

#exhibits span {
  display: inline-block;
  font-size: .8rem;
  margin-top: 1rem;
}

#exhibits a span {
  color: #4BA1FF;
}

#exhibits a {
  text-decoration: none;
}

#exhibits .mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  #exhibits .first {
    width: 50%;
  }

  #exhibits .second {
    width: 50%;
  }
}

@media only screen and (max-width: 740px) {
  #exhibits .desktop {
    display: none;
  }

  #exhibits .first {
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  #exhibits h1 {
    font-size: 3rem;
  }
}

/*----------------------------------Footer----------------------------------- */
footer {
  height: 6rem;
  width: 100%;
  border-top: 1px solid #DFDDDD;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

footer span {
  margin: 1rem 0 0 1.5rem;
}

footer li {
  display: inline-block;
  margin: 1rem;
}

footer li a {
  text-decoration: none;
  color: #444444;
}

@media only screen and (max-width: 740px) {
  footer {
    align-items: flex-end;
    height: 4rem;
  }

  footer .desktop {
    display: none;
  }

  footer span {
    font-size: .8rem;
    margin: 2.5rem 0 1rem 1.5rem;
  }
}
